.primary {
   padding: .3rem .4rem;
   border-radius: 3px;
   border: none;
   width: 100%;
}

.primary:focus-visible {
   border: none;
}


.inputFileTypeFile {
   padding: .3rem .4rem;
   border-radius: 3px;
   border: none;
   width: 100%;
}