.container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   align-items: center;
   /* border: 1px solid red; */
}

.inputFieldWrapper {
   /* border: 1px solid green; */
}

.label {
   display: block;
   font-weight: 500;
   font-size: medium;
   margin-bottom: .5rem;
}