.container {
   min-height: 100vh;
   min-width: 100vw;
   display: grid;
   place-items: center;
}

.formContainer {
   border-radius: 3px;
   box-shadow:
      0 0 0 6px #383849,
      0 0 0 7px #417485;
   display: flex;
}

/* .formContainer > * {
   border: 1px solid red
} */