*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  background: var(--bg-primary) !important;
  color: white;
}

:root {
  --bg-primary: #000000;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --color-primary: #5c6e58;
  --color-secondary: #050505;
  --color-third: #65676b;
  --divider: #d6d7d9;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-bg-forth: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --red-color: #e40c2b;
  --orange-color: #e1523d;
  --blue-color: #0096ff;
  --light-blue-color: #0096ff21;
  --blue: #1876f2;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --color-error: #b94a48;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* Steper */

.container {
  max-width: 400px;
  margin: 0px auto;
}

.custom-colum {
  text-align: center;
}

.custom-colum p,
.custom-colum-id p,
.custom-colum-mix p {
  margin: 0px auto;
  border: 1px solid #50f2ee;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #50f2ee;
}

.custom-colum h4:after {
  content: "";
  background: #50f2ee;
  height: 100px;
  width: 3px;
  position: absolute;
  top: 107%;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.custom-colum {
  position: relative;
}

.custom-colum h4,
.custom-colum-id h4,
.custom-colum-mix h4 {
  padding: 0;
  margin: 4px 0;
  font-weight: 700;
  color: #50f2ee;
}

.custom-colum-id,
.custom-colum-mix {
  text-align: center;
  margin-top: 128px;
  position: relative;
}

.custom-colum-id h4:after {
  content: "";
  background: #50f2ee;
  height: 100px;
  width: 3px;
  position: absolute;
  top: 107%;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.noBg {
  background: none !important;
}


html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}